.cta{
    background: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
    width: 100%;
    padding-top: 80px;
    padding-bottom: 104px;
    &__title{
        font-size: 22px;
        line-height: calc(33 / 22);
        font-weight: 700;
        letter-spacing: 0.1px;
        text-align: center;
        margin-bottom: 7px;
    }
    &__heading{
        font-size: 46px;
        line-height: calc(57 / 46);
        letter-spacing: 0.2;
        text-align: center;
        margin-bottom: 69px;
        &-mobile{
            display: none;
        }
    }
    &__form{
        text-align: center;
    }
    &__form-title{
        font-size: 22px;
        line-height: calc(33 / 22);
        margin-bottom: 10px;
        font-weight: 700;
    }
    &__form-desc{
        font-size: 18px;
        line-height: calc(27 / 22);
        margin-bottom: 34px;
    }
    &__form-control{
        display: flex;
        flex-direction: column;
        gap: 12px 0;
        align-items: center;
        padding: 24px;
    }
    &__form-input{
        width: 353px;
        height: 54px;
        background: #F4F4F4;
        border: 1px solid #E8E8E8;
        border-radius: 39px;
        margin-bottom: 12px;
        padding: 19px 0 19px 35px;
        font-family: $font;
        color: $input-color;
        &::placeholder{
            color: $input-color;
        }
    }   
}
@media only screen and (max-width: 769px) {
    .cta{
        padding-top: 81px;
        padding-bottom: 114px;
       
        &__title{
            margin-bottom: 17px;
        }
        &__heading{
            display: none;
        }
        &__heading-mobile{
            display: block;
            font-size: 46px;
            line-height: calc(57 / 46);
            letter-spacing: 0.2;
            text-align: center;
            margin-bottom: 79px;
        }  
    }       
}

