.hero{
    padding-top: 110px;
    padding-bottom: 80px;
    &__heading{
        font-size: 46px;
        line-height: calc(57 / 46);
        font-weight: 400;
        color: $heading-color;
        letter-spacing: 0.2px;
        max-width: 296px;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 37px;
    }
    &__desc{
        font-weight: 700;
        line-height: calc(20 / 16);
        text-align: center;
        letter-spacing: 0.2px;
        color: $heading-color;
        max-width: 298px;
        margin: 0 auto;
        margin-bottom: 80px;
    }
    &__img{
        margin: 0 auto;
        text-align: center;
        padding: 37px;
    }   
}
@media only screen and (max-width: 769px) {
    .hero{
     padding-top:90px;
     padding-bottom: 86px;
         &__heading{
         margin-bottom: 27px;
        }
        &__desc{
            margin-bottom: 69px;
        }
        &__img{
            padding: 0 19.5px;
        }
    }      
}
 