.pricing{
    padding-top: 110px;
    margin-bottom: 100px;
    &__title{
        font-size: 46px;
        line-height: calc(57 / 46);
        font-weight: 400;
        letter-spacing: 0.2px;
        color: $heading-color;
        text-align: center;
        margin-bottom: 27px;
    }
    &__desc{
        font-size: 16px;
        line-height: calc(20 / 16);
        font-weight: 700;
        letter-spacing: 0.2px;
        max-width: 298px;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 90px;
        color: $text-color;
    }
    &__container{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0 50px;
    }
    &__main{
        border: 1px solid #DEDEDE;
        box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
        border-radius: 10px;
        width: 335px;
        height: 310px;
        padding: 40px;
        &:last-child{
            background: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
            border: 1px solid #DEDEDE;
            box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
            border-radius: 10px; 
        }
        &-title{
            font-size: 22px;
            line-height: calc(33 / 22);
            font-weight: 700;
            letter-spacing: 0.1px;
            color: $heading-color; 
            margin-bottom: 3px;
        }
        &-desc{
            font-size: 12px;
            line-height: calc(18 / 12);
            font-weight: 700;
            letter-spacing: 0.1px;
            color: $heading-color; 
            margin-bottom: 27.5px;
        } 
    }
    &__item{
        display: flex;
        gap:0 10px;
        align-items: center;
        margin-bottom: 27.5px;
    }
    &__number{
        font-size: 55px;
        line-height: calc(66 / 55);
        font-weight: 900;
        letter-spacing: 0.2px;
        color: $heading-color;
    }
    &__money-dola{
        font-weight: 700;
        font-size: 22px;
        line-height: calc(33 / 22);
        color: $heading-color; 
        letter-spacing: 0.1px;     
    }
    &__money-month{
        font-weight: 700;
        font-size: 12px;
        line-height: calc(18 / 12);
        color: $heading-color; 
        letter-spacing: 0.1px; 
    }
}
.pricing__while{
    color: $white-color;
}
@media only screen and (max-width: 1025px) {
    .pricing{
        &__container{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0 1px;
            // padding: 0 5px;
        }
    }   
}
@media only screen and (max-width: 769px) {
    .pricing{
        padding-top: 121px;
        &__container{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 50px 0;
            max-width: 335px;
            margin: 0 auto; 
        }
        &__desc{
            margin-bottom: 108px;
        }
        &__main{
            border: 1px solid #DEDEDE;
            box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
            border-radius: 10px;
            width: 335px;
            height: 310px;
            padding: 40px;
            &1{
                order: 1;
            }
            &2{
                order: 3;
            }
            &3{
                order: 2;
            }
            &-desc{
                margin-bottom: 27.5px;
            }
        }
} 
}

