.test{
    padding-top: 111px;
    margin-bottom: 100px;
    &__title{
        font-size: 46px;
        line-height: calc(57 / 46);
        font-weight: 400;
        letter-spacing: 0.2px;
        color: $heading-color;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 90px;
    }
    &__img img{
        margin: 0 auto;
        text-align: center;
        margin-bottom: 60px;
    }
    &__desc{
        font-size: 16px;
        line-height: calc(20 / 16);
        color: $text-color;
        max-width: 683px;
        font-weight: 700;
        text-align: center;
        margin: 0 auto;
        margin-bottom: 60px;
    }
    &__author{
        display: flex;
        justify-content: center;
        text-align: center;
        gap:0 13px;
        margin-bottom: 80px;
    
    }
    &__peson-category{
        color: $text-color;
        font-size: 12px;
        line-height: calc(18 / 12);
        letter-spacing: 0.1px;
        font-weight: 700;
        margin-bottom: 2px;
    }
    &__peson-work{
        font-size: 15px;
        line-height: calc(27 / 15);
        color: $heading-color;
        letter-spacing: 0.2px;
        font-weight: 400;
    }
}
@media only screen and (max-width: 769px) {
    .test{
        padding-top: 121px;   
        &__title{
            margin-bottom: 105px;
        }
        &__img img{ 
            margin-bottom: 53px;
        }
        &__desc{
            max-width: 280px;
            letter-spacing: 0.16907px;
            font-size: 13.5px;
            line-height: calc(17 / 13.5);
            margin: 0 auto;
            margin-bottom: 53px;
        }
        &__author{
            margin-bottom: 95px;
        }
    }
    
        
}